.App {
  background: #d2b48c;
}

.App::before {  
  content: "";
  background: url("assets/images/package.png") no-repeat center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
  pointer-events: none;
}

.container {
  background: rgba(255,255,255,0.3);
}

.main-app {
  height: 100vh;
  padding: 1rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-grid {
  height: 100%;
}